textarea .form-control {
    height: 100px;
}

.form-check-input:checked {
    background-color: aqua;
}

.perso {
    height: 48px;
}

img.thumbnail{
    width: 100px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto;
  }