<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/personnalWebsites/todo_list/public/">Accueil</a></li>
            <li><a href="/personnalWebsites/todo_list/public/task">Taches</a></li>

        </ul>
    </nav>

    {% block content %}
        <p>Contenu de la page base.twig</p>
        
    {% endblock %}
    <footer>
    <p>Tous droits réservés</p>
    </footer>

</body>
</html>