{% extends "base.twig" %}

{% block content %}

<div class="container ">
    <h2 class="d-flex justify-content-center mt-5">Home Page {{ name }}</h2>
        <div class="d-flex justify-content-center mt-5">
            <a class="text-decoration-none" href="/personnalWebsites/todo_list/public/task/"><button class="btn buttonhover" type="button">go to you task page</button></a>
        </div>

        <div class="d-flex justify-content-center mt-5">
            <p>Welcome, to start writing a task <a href="/personnalWebsites/todo_list/public/task/new/" class=" text-decoration-none" ><button class="btn btnst" type="button">start here</button></a></p>
        </div>


</div>

{% endblock %}
