{% extends "base.twig" %}
{% block content %}
    <section>
        <h2 class="d-flex justify-content-center mt-5">New task</h2>
            <div class="container">
                
                <form class="row g-3" method="POST">

                    <div class="col-12">
                        <label for="title" class="form-label">Title</label>
                        <input required type="text" class="form-control" name="title" id="title" placeholder="Workout">
                    </div>
                    <div class="col-12">
                        <label for="status" class="form-label">Status</label>
                        {# <input type="text" class="form-control" name="status" id="status"> #}
                        <select class="form-select" name="status" id="status">
                            <option class="btnst" value="pending">Pending</option>
                            <option class="btnteal" value="in_progress">In Progress</option>
                            <option class="btndone" value="done">Done</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="image" class="form-label">Image</label>
                        <input type="text" class="form-control" name="image" id="image">
                    </div>
                    <div>
                        <label for="user" class="form-label">User in charge</label>
                        <input class="form-control" name="user" id="user" rows="3">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btnst">Add new Task</button>
                    </div>
                </form>
                <a class="d-flex justify-content-center mt-5 mb-3 text-decoration-none" href="/personnalWebsites/todo_list/public/task/"><button class="btn btnback" type="button">Back to the Taskselection</button></a>
            </div>
    </section>
    


{% endblock %}